body {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1em;
    width: 75%;
    margin: auto; 
    text-align: center;
}



#canvas {
    width: 300px;
    height: 300px;
    border: 2px solid black;
    margin: auto;
}

#message-area {
    width: 300px;
    height: 5em;
    text-align: left;
    border: 2px solid black;
    margin: auto;
    overflow: auto;
}

#message-area p {
    word-wrap: break-word;
    display: inline;
    font-weight: bold;
}